@import "./../common";

@import '~bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';

@import "./../9pagesStyles/firstlayouts";


*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
